<div class="row justify-content-center">
<footer class="footer mt-auto py-3">
  <div style="background: black; foreground: white">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <span class="text-muted">HKIST is the accredited professional body for the speech therapist profession
            under The Accredited Registers Scheme for Healthcare Professions, Department of Health, Hong Kong.
            <p></p>
            The information provided by HKIST on this website is for reference only. Although we endeavour to provide the public with access to adequate and reputable content, we make no representations as to its accuracy or appropriateness for use
            in any particular circumstances. HKIST is not responsible for any loss or damage resulting, either directly or indirectly, from access to and/or use of this website.
          </span>
        </div>
        <div class="col-3">
          <span class="text-muted">
            CONTACT US
            <p></p>
            Secretariat<br>
            Hong Kong Institute of Speech Therapists
            Room 1201, 12/F,
            Block B, New Trade Plaza,
            6 On Ping Street, Shatin,
            New Territories, Hong Kong.
            <p></p>
            Email: info@hkist.org.hk
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        <span class="text-muted">
        <p></p>
        Copyright ©2017 HKIST All Rights Reserved.
        </span
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
