{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<!-- <p><a href="{% url 'logout' %}">logout</a></p> -->

<!--
<p>
  <h4>Paid Annual Fee HKD{{ fee.amount }}</h4>

  <form action="{% url 'charge' %}" method="post">
    {% csrf_token %}

    <input type="hidden" id="description" name="description" value="{{ fee.description }}">
    <input type="hidden" id="amount" name="amount" value="{{ amount|floatformat }}">
    <input type="hidden" id="fee_amount" name="fee_amount" value="{{ fee.amount }}">

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-description="{{ fee.description }}" data-amount="{{ amount|floatformat }}" data-locale="auto">
    </script>

  </form>

</p>
-->

</p>
{% if request.user.is_staff %}
<a href="{% url 'list_payment_history' %}">View [{{ member.username }}] payment history</a>
{% endif %}

</p>
</p>
{% if request.user.is_staff %}
{% if personDetail_list %}
<a href="{% url 'assessment-form-edit' member.username %}">View [{{ member.username }}] Qualification Competency Assessment</a>
{% endif %}

<p></p>
<a href="{% url 'cpd-activity-form-edit' member.username %}">View [{{ member.username }}] record of Continuing Professional Development (CPD)</a>
{% endif %}

{% else %}

<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>

{% endif %}
{% endblock %}
